:root{
    --mb:#2a2a72;
    --lb:#009ffd;
    --mw:#f3f3f3;
    --md:#232528;
    --my:#ffa400;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background:var(--mw);
    color:var(--md);

}
.navbar{
    display: flex;
    align-items: center;
    background-color:#f3f3f3;
}
#nav-product,#shopping-cart{
    font-weight: bold;
    padding: 2%;
    color:black !important;
    border:1px solid black;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
}
#shopping-cart{
    width: 160px;
    padding: 1%;
float: right;

}
